{% extends 'base.html.twig' %}

{# {% block title %}Hello PageController!{% endblock %} #}

{% block body %}
    <div class="container pt-3">
        <h1 class="text-center">Type a text message and send it now!</h1>
        {# {% form(form) %} #}
    </div>
{% endblock %}
