{% extends 'base.html.twig' %}

{% block body %}
    <div class="container pt-3 text-center">
        <h3>Your message was sent successfully!!</h3>
        <a href="{{ path('page.home') }}" class="btn btn-primary">Send Another One</a>
    </div>
{% endblock %}
